
<head>
    <meta charset="UTF-8">
    
    <title>Contagem de elementos</title>
</head>
<body>

    <div id="div"><img><img></div>

    <script>
        function contaElementos(elemento, limite){
            if(document.getElementById(elemento).childNodes.length > limite){
                throw new Error("O número de objeto do elemento ultrapassou o limite!");
            }
        }

        contaElementos("div", 0);
    </script>
</body>
</html>
