<head>
    <meta charset="UTF-8">
    <title>Datas</title>
</head>
<body>
    <select id="anos"></select>
    <select id="meses"></select>
    <select id="dias"></select>

    <script src="index.js"></script>
</body>
</html>
