<head>
    <meta charset="UTF-8">
    <title>Regex</title>
</head>
<body>
    <textarea id="textarea" name="textarea" rows="5" cols="60" placeholder="Digite seu texto"></textarea>
    <p>
        Espada: <div id="espada">0</div>
    </p>
    <p>
        Arco: <div id="arco">0</div>
    </p>
    <p>
        Escudo: <div id="escudo">0</div>
    </p>
    <script>
        const textarea = document.getElementById("textarea");
        const divEspada = document.getElementById("espada");
        const divArco = document.getElementById("arco");
        const divEscudo = document.getElementById("escudo");

        textarea.addEventListener("keyup", () => {
            const texto = textarea.value;

            setQuantidade(texto, /espada/g, divEspada);
            setQuantidade(texto, /arco/g, divArco);
            setQuantidade(texto, /escudo/g, divEscudo);
        });

        function setQuantidade(texto, regex, elemento){
            const itens = texto.match(regex);
            let qtdItens;
            if(itens){
                qtdItens = itens.length;
            }else{
                qtdItens = 0;
            }
            elemento.innerText = qtdItens;
        }
    </script>
</body>
</html>
