body {
    background-color: #8083c9;
    font-family: monospace;
    text-align: center;
    margin: 0;
    padding: 0;
}

form {
    background-color: white;
    max-width: 20rem;
    margin: 20px auto;
    border: solid slateblue 2px;
    padding: 20px;
}

label[for] {
    color: rgb(38, 28, 105);
    text-transform: uppercase;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid lightgrey;
    width: 100%;
}

input[type=submit] {
    background-color: slateblue;
    border-style: none;
    color: white;
    padding: 15px;
}
